div{
  width: 100%;
}
.nav-div{
  background-color:rgb(214, 214, 214);
  height: 100px;
  display: flex;
  align-content: center;
}
.navbar{
  list-style-type: none;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar > li{
  cursor: pointer;
}
@media(max-width: 300px){
  .navbar{
    flex-direction: column;
  }
}